.answer {
    width: 100%;
  }

  .answer__inner {
    color: #000;
    width: 100%;
    padding: 10px 40px;
    border-radius: 15px;
  } 

  .answer__list {
    display: flex;
    justify-content: space-between;
  }

  .answer__item {
    cursor: pointer;
  }

  .answer__item-correct {
    color: green;
  }

  .answer__item-incorrect {
    color: red;
  }